/* Default styles */
body {
    background-image: url('./images/401f48d04eca7d566e874645231f10d0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.texts {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
}

.container {
    text-align: center;
}

.circle-image {
    border-radius: 50%;
}

.social {
    text-align: center; /* Center the icons horizontally */
}

.social a {
    width: 60px;
    height: 60px;
    font-size: 24px; /* Adjust font size */
    color: white; /* Default icon color */
    margin-right: 22px;
    margin-bottom: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(123, 103, 240, 1); /* Background color */
    text-decoration: none; /* Remove underline from links */
}

.social a:hover {
    transform: scale(1.1);
    transition: .5s;
    color: rgba(123, 103, 240, 1); /* Hover color */
    background: white; /* Change background on hover */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .circle-image {
        width: 200px; /* Adjust image width for smaller screens */
        height: 200px; /* Adjust image height for smaller screens */
    }
    
    .texts {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
    
    .social a {
        width: 40px; /* Adjust icon size for smaller screens */
        height: 40px;
        font-size: 18px; /* Adjust font size for smaller screens */
        margin-right: 10px; /* Adjust margin for smaller screens */
        margin-bottom: 10px;
    }
}
